# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Streamlit cache
.streamlit/

# Temporary files
*.log
*.tmp
*.bak

# OpenSCAD temporary renders
*.png
*.scad#*
